---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    // background: url("{{ site.baseurl }}/assets/img/j.png") no-repeat center center fixed !important;
    // background-size: cover !important;
    background: url("{{ site.baseurl }}/assets/img/j.png") no-repeat center center fixed !important;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ site.baseurl }}/assets/img/j.png', sizingMethod='scale');
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{ site.baseurl }}/assets/img/j.png', sizingMethod='scale')";
    background-size: cover;
    height: 100%;
    // overflow: hidden;
}

.entry-date {
    color: gray;
}
